<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/lizhenliang/Desktop/让不懂编程的人爱上iPhone开发(iOS-7）/系列2/代码/iOS 入门 2/cha16/Checklists.xcodeproj</string>
</dict>
</plist>
